        <img src="{{this.image_url}}" alt="">
        <a class="name" href="/beers/beer-{{this.id}}">{{this.name}}</a>
         {{!-- NAME</a>GET THE BEER ID --}}
        <p class="tagline">{{this.tagline}}</p>
        <p>Description: {{this.description}}</p>
